<main>
  <section class="project-contents container py-5">
    <div class="row gx-3">
      <section class="col-2 col-lg-3">
        <ul class="list-group pointer sticky-top rounded-0">
          <ng-container *ngFor="let category of categories">
            <li
              class="list-group-item list-group-item-action"
              [class.active]="category.guid === selectedText.guid"
              (click)="onSelectProjectCategory(category.guid)"
            >
              <h6 class="m-0 py-3 px-2 d-none d-md-block text-md-center text-lg-start">
                <i class="fas {{ category.icon }} category-icon"></i>
                <span class="ps-md-3 d-none d-lg-inline-block">{{ lang.get(category.label) }}</span>
              </h6>

              <span class="d-md-none d-inline-block text-sm-center">
                <i class="fas {{ category.icon }} category-icon"></i>
              </span>
            </li>
          </ng-container>
        </ul>
      </section>
      <section class="col-10 col-md-9">
        <div class="card rounded-0">
          <div class="card-body">
            <app-loading-spinner [isLoading]="isTextLoading"></app-loading-spinner>
            <ng-container *ngIf="!isTextLoading">
              <app-markdown-text [rawMarkdown]="selectedText.text" class="fade-in-fast"></app-markdown-text>
            </ng-container>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>
