@import "../../../../styles/theme";

.nav-item {
  margin-left: 30px;

  .nav-link {
    padding: 0 0 5px 0;
    color: map_get(map_get($root, accent), 100);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: map_get(map_get($root, tints), 100);
    }
  }
}

a {
  color: map_get(map_get($root, accent), 100);
  background-image: linear-gradient(map_get(map_get($root, accent), 100), map_get(map_get($root, accent), 100)) !important;
}

footer {
  position: relative;
  z-index: 10000;
  background: map_get(map_get($root, accent), 10);
  color: #fff;
}
