// types
$person: #f16a6f;
$place: #1e85f7;
$term: #55a194;
$comet: #f8b014;

// highlights
$abbrHighlight: rgba(7, 9, 16, 0.25);
$commentedHighlight: rgba(227, 219, 204, 0.6);
$dateHighlight: rgba(80, 117, 142, 0.3);
$otherHighlight: rgba(174, 170, 167, 0.3);
$selectionHighlight: rgba(232, 182, 0, 0.836);

// text colors
$addTextColor: #3b7067;
$delTextColor: #f16a6f;
