$root: (
        accent: (
                0: rgb(17, 22, 35),
                10: rgb(22, 27, 44),
                20: rgb(26, 33, 53),
                25: rgb(30, 38, 64),
                30: rgb(35, 44, 71),
                40: rgb(39, 49, 80),
                50: rgb(44, 55, 89),
                60: rgb(65, 75, 105),
                70: rgb(86, 94, 122),
                80: rgb(107, 115, 138),
                90: rgb(128, 135, 155),
                100: rgb(255, 248, 231),
        ),
        custom: (
                0: rgba(35, 44, 71, 0.03),
                10: rgba(35, 44, 71, 0.1)
        ),
        tints: (
                0: rgb(12, 13, 14),
                10: rgb(23, 26, 28),
                20: rgb(33, 36, 39),
                30: rgb(40, 44, 47),
                40: rgb(47, 51, 55),
                50: rgb(71, 77, 83),
                60: rgb(83, 89, 96),
                70: rgb(94, 102, 110),
                80: rgb(186, 192, 197),
                90: rgb(214, 217, 220),
                100: rgb(255, 255, 255)
        ),
        success: (
                0: rgb(34, 75, 34),
                10: rgb(50, 110, 50),
                20: rgb(65, 146, 65),
                30: rgb(84, 178, 84),
                40: rgb(119, 194, 119),
                50: rgb(154, 210, 154)
        ),
        info: (
                0: rgb(32, 56, 91),
                10: rgb(45, 79, 129),
                20: rgb(58, 102, 167),
                30: rgb(81, 127, 195),
                40: rgb(119, 155, 208),
                50: rgb(157, 183, 221)
        ),
        warning: (
                0: rgb(113, 85, 0),
                10: rgb(164, 124, 0),
                20: rgb(215, 162, 0),
                30: rgb(255, 195, 11),
                40: rgb(255, 208, 62),
                50: rgb(255, 220, 113)
        ),
);
